body {
  background-image: url('../assets/fundo-edition.jpg'); /* URL da imagem de alta resolução */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #00ff15; 
  font-size: 16px; 
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 46px;
  color: #ffffff;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  color: #ebe8e8;
  font-weight: bold;
}

p {
  font-size: 44px;
  font-weight: bold; 
  color: #FF4500;
}

.text-right {
  text-align: right;
}

.form-control {
  margin-bottom: 10px;
}

#contato-form {
  background-color: #031652;
  padding: 20px;
  border-radius: 0;
  position: relative;
  margin: 50px auto;
  max-width: 600px;
  z-index: 999;
}

#contato-form .form-control {
  margin-bottom: 10px;
}

#contato-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#contato-form button[type="submit"]:hover {
  background-color: #0056b3;
}



.nav-item {
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar-toggler {
    padding: 5px 8px;
    font-size: 20px;
    
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-item {
    font-size: 18px;
  }
}
